* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}




/* ESTILIZAÇÃO PARA A PÁGINA DE LOGIN */

body.login {
    height: 100vh;
    background: linear-gradient(to bottom, #9f99e6, #2e2b88);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_img{
    width: 50px;
    height: 50px;
}

.background-login {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 400px;
}

.background-login h1 {
    margin-bottom: 50px;
    font-size: 28px;
    color: white;
}

.background-login label {
    display: block;
    text-align: left;
    color: white;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
}

.background-login input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    transition: all 0.3s ease;
}

.background-login input:focus {
    background: white;
    box-shadow: 0 0 0 2px #6c63ff;
}

.senha_div{
    position: relative;
}

.revelar_senha{
    position: absolute;
    top: 30px;
    right: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.btn_link{
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
}

.btn_link button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-bottom: 10px;
}

.btn_link:first-of-type button{
    background-color: white;
    color: #2e2b88;
}

.btn_link:first-of-type button:hover {
    background-color: #e2e2e2;
}

.button2 {
    background: none;
    color: white;
    font-size: 14px;
    text-decoration: underline;
}

.button2:hover {
    color: #ccc;
    text-decoration: none;
}

.cadastro{
    padding-top: 20px;
}














/* ESTILIZAÇÃO PARA A PÁGINA DE CADASTRO */

body.cadastro {
    height: 100vh;
    background: linear-gradient(to bottom, #9f99e6, #2e2b88);
    display: flex;
    justify-content: center;
    align-items: center;
}


.background-cadastro {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 1200px;
}

.organizer{
    display: flex;
    justify-content: space-around;
}

.background-cadastro h1 {
    margin-bottom: 50px;
    font-size: 28px;
    color: black;
}

.background-cadastro label {
    display: block;
    text-align: left;
    color: black;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 14px;
}

.background-cadastro input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    transition: all 0.3s ease;
}

.background-cadastro input:focus {
    background: white;
    box-shadow: 0 0 0 2px #6c63ff;
}

.cadastro_buttons{
    display: flex;
    justify-content: space-around;
}

.cadastro_buttons button{
    padding: 10px;
    width: 100px;
}

.esquerda{
    width: 45%;
}

.direita{
    width: 45%;
}

.genero{
    display: flex; 
    gap: 30px; 
    margin-top: 10px;
    flex-wrap: wrap;
}

.genero label{
    display: flex; 
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: black;
    cursor: pointer;
}

.genero input[type="radio"]{
    width: 18px;
    height: 18px;
    accent-color: #6c63ff;
    cursor: pointer;
}

.genero_div{
    margin-bottom: 20px;
    text-align: left;
}










/* ESTILIZAÇÃO PARA A PÁGINA Princiapal*/



body.principal{
    background-color: #ffffff;
}

.logo{
    cursor: pointer;
    transition: 0.5s ease;
}

.logo :hover{
    transform: scale(1.05);
}

header{
    background-color: #6c63ff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

header input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    transition: all 0.3s ease;
}

header input:focus {
    background: white;
    box-shadow: 0 0 0 2px #6c63ff;
}

.nav_pc a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.nav_pc ol{
    text-decoration: none;
    transition: 0.5s ease;
}

.nav_pc ol:hover{
    transform: scale(1.05);
    cursor: pointer;
}


.nav_pc{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10px;

}




.slider {
    width: 100%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    margin: 0;
    left: 0;
}

.slides-box {
    display: flex;
    width: 400%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slider-content input[type="radio"] {
    display: none !important;
  }

.slide-box {
    width: 25%;
    height: 100%;
    position: relative;
}

.slide-box img {
    width: auto;
    height: 100%;
    object-fit: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}


@media (min-width: 1200px) {
    .slide-box img {
        width: 75%;
        max-width: 75%;
        height:auto;
    }
}

.nav-manual {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.manual-btn {
    width: 20px;
    height: 20px;
    border: 3px solid white;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s;
    background: rgba(255,255,255,0.3);
}

.manual-btn:hover {
    background: white;
    transform: scale(1.2);
}

#radio1:checked ~ .nav-manual .manual-btn:nth-child(1),
#radio2:checked ~ .nav-manual .manual-btn:nth-child(2),
#radio3:checked ~ .nav-manual .manual-btn:nth-child(3),
#radio4:checked ~ .nav-manual .manual-btn:nth-child(4) {
    background: white;
}

#radio1:checked ~ .slides-box {
    transform: translateX(0%);
}
#radio2:checked ~ .slides-box {
    transform: translateX(-25%);
}
#radio3:checked ~ .slides-box {
    transform: translateX(-50%);
}
#radio4:checked ~ .slides-box {
    transform: translateX(-75%);
}





.organizar-datas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 100px;
}

.datas-background{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    width: 1000px;
}

.datas{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: 0.5s ease;
}

.datas:hover{
    transform: scale(1.05);
}







.background-eventos {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-size: 14px;
    width: 400px;
}

.background-eventos img{
    border-radius: 20px;
}

.dia_do_evento {
    font-size: 14px;
    color: #ffffff;

  }

.eventos-maiores{
    display: flex;
    justify-content: space-evenly;
    
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.background-eventos button {
    width: 100%;
    padding: 10px;
    color: #2e2b88;
    background-color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.5s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.background-eventos button:hover {
    transform: scale(1.05);
}

.menu_nav{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: start;
    align-items: start;
    z-index: 1000;
}

.menu_nav_content{
    background: #6c63ff;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu_nav_content a{
    text-decoration: none;
    color: black;
    transition: 0.3s ease;
}

.menu_nav_content a:hover{
    cursor: pointer;
    transform: scale(1.07);
    color: white;
}


















/* ESTILIZAÇÃO PARA A VALIDACAO*/

.header_validação{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.validação_titulo{
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.background_validação{
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    gap: 20px;
    color: white;
    font-size: 14px;
    width: 800px;
    display: flex;
    align-items: center;
    margin: 50px;
}

.validação_imagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.validação_texto{
    padding: 10px;
}

.opções{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 25px;
    cursor: pointer;
}

.aprovar{
    color: rgb(79, 206, 79);
}

.rejeitar{
    color: rgb(255, 40, 40);
}

.aprovado_texto{
    display: none;
}
.aprovado{
    background-color: rgba(43, 244, 8, 0.326);
    backdrop-filter: blur(15px);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    gap: 20px;
    color: white;
    font-size: 14px;
    width: 800px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 50px;
}

.aprovado .opções{
    display: none;
}
.aprovado .validação_texto{
    display: none;
}
.aprovado .aprovado_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    font-size: 25px;
    gap: 20px;

}

.aprovado .aprovado_texto img{
    height: 100px;
    width: 100px;
}






.rejeitado_texto{
    display: none;
}
.rejeitado{
    background-color: rgba(249, 22, 15, 0.488);
    backdrop-filter: blur(15px);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    gap: 20px;
    color: white;
    font-size: 14px;
    width: 800px;
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 50px;
}

.rejeitado .opções{
    display: none;
}
.rejeitado .validação_texto{
    display: none;
}
.rejeitado .rejeitado_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 150px;
    font-size: 25px;
    gap: 20px;
}

.rejeitado .rejeitado_texto img{
    height: 100px;
    width: 100px;
}








/*ESTILIZAÇÃO PARA A DESCRICAO*/

/*Deixando todos nulos, so aparece quando chamado*/

.expocrato{
    display: none;
}
.paudabandeira{
    display: none;
}
.juaforro{
    display: none;
}
.romaria{
    display: none;
}













.evento-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    background-color: #2c2c3c;
}

.imagem img {
    width: 600px;
    height: auto;
    border-radius: 10px;
}

.informacoes {
    background-color: #393951;
    padding: 30px;
    border-radius: 10px;
    color: white;
    width: 600px;
    height: 405px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

.informacoes h2 {
    margin-bottom: 20px;
    font-size: 22px;
}

.informacoes p {
    margin-bottom: 10px;
    font-size: 14px;
}

.botao {
    display: inline-block;
    background-color: #100370;
    color: white;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 20px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s ease;
}

.botao:hover {
    background-color: #1a0c9a;
    transform: scale(1.05);
}

.descricao {
    margin: 50px;
    color: white;
    text-align: center;
}

.descricao p{
    margin-top: 15px;
    font-size: 16px;
}

.descricao hr {
    margin-bottom: 20px;
}

.pagamento{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.pagamento_content{
    background: white;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.qrcode{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.qrcode img{
    width: 100px;
    height: auto;
}

.qrcode_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pagamento_pix{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.pagamento_codigo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.codigo{
    border-radius: 5px;
    padding: 4px;
}


.concluido{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.concluido_content{
    background: white;
    padding: 2rem;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.concluido_content img{
    width: 100px;
    height: auto;
}

.botao_concluido{
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    transition: all 0.3s ease;
}

.botao_concluido:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.button_copiar{
    padding: 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.6);
    font-size: 16px;
    transition: all 0.3s ease;
}

.button_copiar:hover{
    cursor: pointer;
    transform: scale(1.05);
}













/* ESTILO Meus Eventos*/

body.principal {
    background-color: #33363F;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.titulo{
    color: white;
    font-size: 40px;
}

  .container-eventos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    padding: 160px 10px;
  }
  
 
  .evento {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    width: 100%;
  }
  

  .evento img {
    width: 400px;
    height: 230px;
    object-fit: cover;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  }
  
  
  .descricao-evento {
    background-color: #454545; 
    color: #ffffff;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 6px 25px rgba(0, 0, 0, 0.4);
    width: 700px;
    font-size: 15px;
    line-height: 1.6;
  }
  
  .descricao-evento h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #ffffff;
  }

  .titulo-evento {
    color: white;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: -60px;
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
    text-align: left;
    padding-left: 10px;
  }


/*Estilo CRIAÇÃO DE EVENTOS*/

  .cadastro-evento {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 80%;
    background-color: #454545;
    color: white;
    border-radius: 15px;
    padding: 50px;
    gap: 20px;
}

  .background-cadastro-evento{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cadastro-evento-esquerda{
    gap: 100px;
}

.evento-esquerda{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.cadastro-evento h1{
    margin-bottom: 50px;
}

.cadastro-evento input{
    background-color: #a5a4a4;
    height: 30px;
}

.cadastro-evento-direita{
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.cadastro-imagem button{
    display: none;
}


















/*RESPONSIVIDADE*/


/* Tablets */
@media (max-width: 992px) {
    .background-cadastro {
        padding: 30px;
        width: 95%;
    }

    .organizer {
        flex-direction: column;
        align-items: center;
    }

    .organizer > div {
        width: 100%;
        max-width: 500px;
    }

    .cadastro_buttons {
        flex-direction: column;
        align-items: center;
    }

    .btn_link button {
        width: 200px;
    }
}

/* Celulares */
@media (max-width: 768px) {
    .organizer {
        flex-direction: column;
        gap: 20px;
    }

    .cadastro_buttons {
        flex-direction: column;
        gap: 10px;
    }

    .btn_link button {
        width: 100%;
    }

    .radio_group {
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;
    }
}